<!DOCTYPE html>
{# Cargar Bootstrap #}
{% load bootstrap3 %}

{# Cargar CSS y JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Busco Ayuda</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script>
        $.fn.serializeObject = function()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        function crearComentario(form, modalid) {

            var $form = $(form);
            var serializedData = JSON.stringify($form.serializeObject());

            request = $.ajax({
                url: "/polls/comentario",
                type: "post",
                data: serializedData,
                success: function (data) {
                    console.log("ox");
                    console.log(data);
                    alert('Comentario Creado')
                    $('#' + modalid + '').modal('toggle');
                },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                    alert('Error al crear comentario')
                    $('#' + modalid + '').modal('toggle');
                }
            });

            return false;
        }
    </script>
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

<div class="pull-right">
    <ul class="nav navbar-nav">
        <li>
            {% if user_auth %}
                <a href="/polls/independiente/edit">Mi Cuenta</a>
        </li>
        <li>
                <a href="logout">Cerrar sesión</a>
        </li>
            <h3 name="autenticado">bienvenido</h3>
            {% endif %}
            {% if not user_auth %}
        <li class="pull-right">
                <a name="login" href="login">Iniciar sesión</a>
        </li>
        <li class="pull-right">
                <a id="id_register" href="/polls/independiente/new">Registrarse</a>
        </li>
            {% endif %}
    </ul>
</div>
</div>
</nav>
<br/><br/><br/>
<div class="col-lg-12">
    <h1 class="page-header" align="center">BUSCO AYUDA</h1>
</div>
<div class="col-lg-12">
    <h2 align="center">Encuentre aquí la ayuda que necesita</h2>
</div>
<div class="well bs-component">
    <form enctype="multipart/form-data" method="post">
    {% csrf_token %}

        {% bootstrap_form form %}


  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Filtrar
    </button>
  {% endbuttons %}
    </form>
 <form enctype="multipart/form-data" method="get">
    {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Quitar filtro
    </button>
  {% endbuttons %}
    </form>
</div>
<br/>
<nav class="navbar-fixed-bottom" role="navigation" align="center">
    <nav>
      <ul class="pagination">
          {% if lista_independientes.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ lista_independientes.previous_page_number }}" aria-label="Ant">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Ant</span>
              </a>
            </li>
          {% endif %}

            <li class="page-item active"><a class="page-link" href="#">1<span class="sr-only">(current)</span></a></li>
          {% if lista_independientes.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ lista_independientes.next_page_number }}">2</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ lista_independientes.next_page_number }}">3</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ lista_independientes.next_page_number }}">4</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ lista_independientes.next_page_number }}">5</a></li>

            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          {% endif %}
      </ul>
    </nav>
    <span class="current">
        Página {{ lista_independientes.number }} de {{ lista_independientes.paginator.num_pages }}.
    </span>

</nav>

<br/>
{% for item in lista_independientes %}
<br/>
    <div class="col-md-4 col-sm-6 col-lg-3 well" align="center" style="cursor: pointer" data-toggle="modal" data-target="#{{item.pk}}">
        {{item.servicio.nombre}}
        <br/><br/>
        <img id="{{item.nombres}} {{item.apellidos}}" src="{{MEDIA_URL}}{{item.foto.url}}" height="200" width="200">
        <br/><br/>
        <h5 name="{{item.nombres}} {{item.apellidos}}">{{item.nombres}} {{item.apellidos}}</h5>
    </div>
     <div class="modal fade" id="{{item.pk}}" tabindex="-1" role="dialog" aria-labelledby="purchaseLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="purchaseLabel">Detalles</h4>
                </div>

                <div class="modal-body" align="center">
                    <div class="lead">
                        <h3 name="{{item.nombres}} {{item.apellidos}}">{{item.nombres}} {{item.apellidos}}</h3>
                    </div>
                    <div class="lead">
                        <h3 >{{item.servicio.nombre}}</h3>
                    </div>
                    <br/>
                    <div style="float: left">
                        <img src="{{MEDIA_URL}}{{item.foto.url}}" height="200" width="200">
                    </div>
                    <div  style="margin: 20px">
                        <br/>
                        <h4>Experienca: {{item.experiencia}}</h4>
                        <h4>Teléfono: {{item.telefono}}</h4>
                        <h4>E-mail: {{item.correo}}</h4>
                        <br/><br/><br/>
                    </div>
                </div>
                <div class="comments">
                    <h3>Comentarios:</h3>
                    <form onsubmit="return crearComentario(this, '{{item.pk}}');" >
                        <input type="hidden" name="independiente" value="{{item.id}}"/>
                        <input type="email" required="required" class="form-control" name="email" placeholder="correo" >
                        <br />
                        <textarea name="texto" required="required" class="form-control" placeholder="comentario"></textarea>
                        </br>
                          {% buttons %}
                            <button type="submit" class="btn btn-primary">
                              {% bootstrap_icon "star" %} Submit
                            </button>
                          {% endbuttons %}
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

{% endfor %}
<br/><br/>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>