<div class="modal fade" id="login_modal" role="dialog">
   <div class="modal-dialog">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" name="entrar" class="close" data-dismiss="modal">&times;</button>
               <h4><span class="glyphicon glyphicon-log-in"></span> Ingresar</h4>
           </div>
           <!--suppress HtmlUnknownTarget -->
           <form role="form" action="login" method="post" id="login-form" novalidate="novalidate">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="usrname"><span class="glyphicon glyphicon-user"></span> Usuario</label>
                        <input type="text" class="form-control" id="usrname" name="usrname" placeholder="Ingrese su usuario">
                    </div>
                    <div class="form-group">
                        <label for="psw"><span class="glyphicon glyphicon-lock"></span> Contraseña</label>
                        <input type="password" class="form-control" id="psw" name="psw" placeholder="Ingrese su contraseña">
                    </div>
                </div>
                <div class="modal-footer btn-toolbar">
                    <button type="submit" class="btn btn-default btn-success pull-right">
                        <span class="glyphicon glyphicon-off"></span> Login
                    </button>
                    <button type="submit" class="btn btn-default btn-default pull-right" data-dismiss="modal"
                            style="margin-left: 5px">
                        <span class="glyphicon glyphicon-remove"></span> Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        //noinspection JSUnresolvedFunction
        $("#login-form").validate({
            rules: {
                usrname: "required",
                psw: "required"
            },
            messages: {
                usrname: "Por favor ingrese su usuario",
                psw: "Por favor ingrese su contrase&ntilde;a"
            },
            submitHandler: function(form) {
                form.submit();
            }
        });
    });</script>
